version: 2.1

orbs:
  # This uses the Orbs located at https://github.com/wordpress-mobile/circleci-orbs
  ios: wordpress-mobile/ios@1.0
  git: wordpress-mobile/git@1.0
  slack: circleci/slack@3.4.2

commands:
  fix-path:
    steps:
      - run:
          name: Fix $PATH
          command: |
            # Add `/usr/local/bin` to the Xcode 11.2 image's $PATH in order to be able to use dependencies

            if [ $(echo $PATH | ruby -e "puts Kernel.gets.include?('/usr/local/bin')") != "true" ]; then
              echo 'export PATH=/usr/local/bin:$PATH' >> $BASH_ENV
              echo "Manually added `/usr/local/bin` to the $PATH:"
              echo $PATH
            fi

jobs:
  Test:
    executor:
      name: ios/default
      xcode-version: "12.0"
    steps:
      - git/shallow-checkout
      - fix-path
      - ios/install-dependencies:
          bundle-install: true
          pod-install: true
      - run:
          name: Copy demo SPCredentials
          command: mkdir -p Simplenote/Credentials && cp Simplenote/SPCredentials-demo.swift Simplenote/Credentials/SPCredentials.swift
      # Start: Swift Package Manager Workaround
      # Ref. https://support.circleci.com/hc/en-us/articles/360044709573-Swift-Package-Manager-fails-to-clone-from-private-Git-repositories
      - run: rm ~/.ssh/id_rsa
      - run: for ip in $(dig @8.8.8.8 github.com +short); do ssh-keyscan github.com,$ip; ssh-keyscan $ip; done 2>/dev/null >> ~/.ssh/known_hosts || true
      # END: Swift Package Manager Workaround
      - ios/test:
          xcode-version: "12.0"
          workspace: Simplenote.xcworkspace
          scheme: Simplenote
          device: iPhone 11
  Installable Build:
    executor:
      name: ios/default
      xcode-version: "12.0"
    steps:
      - git/shallow-checkout
      - ios/install-dependencies:
            bundle-install: true
            pod-install: true
      - run:
          name: Copy Secrets
          command: bundle exec fastlane run configure_apply
      # Start: Swift Package Manager Workaround
      # Ref. https://support.circleci.com/hc/en-us/articles/360044709573-Swift-Package-Manager-fails-to-clone-from-private-Git-repositories
      - run: rm ~/.ssh/id_rsa
      - run: for ip in $(dig @8.8.8.8 github.com +short); do ssh-keyscan github.com,$ip; ssh-keyscan $ip; done 2>/dev/null >> ~/.ssh/known_hosts || true
      # END: Swift Package Manager Workaround
      - run:
          name: Build
          command: "bundle exec fastlane build_and_upload_installable_build build_number:$CIRCLE_BUILD_NUM"
      - run:
          name: Prepare Artifacts
          command: |
            mkdir -p Artifacts
            mv "fastlane/comment.json" "Artifacts/comment.json"
      - store_artifacts:
          path: Artifacts
          destination: Artifacts
  Release Build:
    executor:
      name: ios/default
      xcode-version: "12.0"
    environment:
      HOMEBREW_NO_AUTO_UPDATE: 1
    steps:
      - git/shallow-checkout
      - ios/install-dependencies:
            bundle-install: true
            pod-install: true
      - run:
          name: Copy Secrets
          command: bundle exec fastlane run configure_apply
      # Start: Swift Package Manager Workaround
      # Ref. https://support.circleci.com/hc/en-us/articles/360044709573-Swift-Package-Manager-fails-to-clone-from-private-Git-repositories
      - run: rm ~/.ssh/id_rsa
      - run: for ip in $(dig @8.8.8.8 github.com +short); do ssh-keyscan github.com,$ip; ssh-keyscan $ip; done 2>/dev/null >> ~/.ssh/known_hosts || true
      # END: Swift Package Manager Workaround
      - run:
          name: Install other tools
          command: |
            brew install imagemagick
            brew install ghostscript
            curl -sL https://sentry.io/get-cli/ | bash
      - run:
          name: Build
          command: |
            APP_VERSION=$(cat ./config/Version.Public.xcconfig | grep "^VERSION_LONG" | cut -d "=" -f2)
            echo "export SLACK_FAILURE_MESSAGE=':red_circle: Build for Simplenote $APP_VERSION failed!'" >> $BASH_ENV
            echo "export SLACK_SUCCESS_MESSAGE=':tada: Simplenote $APP_VERSION has been deployed!'" >> $BASH_ENV
            bundle exec fastlane build_and_upload_release skip_confirm:true
          no_output_timeout: 60m
      - slack/status:
            include_job_number_field: false
            include_project_field: false
            include_visit_job_action: false
            failure_message: '${SLACK_FAILURE_MESSAGE}'
            success_message: '${SLACK_SUCCESS_MESSAGE}'
  UI Tests:
    executor:
      name: ios/default
      xcode-version: "12.4.0"
    environment:
      FL_OUTPUT_DIR: output
      FASTLANE_LANE: run_login_UI_tests
    steps:
      - git/shallow-checkout
      - ios/install-dependencies:
            bundle-install: true
            pod-install: true
      - run:
          name: Copy Secrets
          command: bundle exec fastlane run configure_apply
      # Start: Swift Package Manager Workaround
      # Ref. https://support.circleci.com/hc/en-us/articles/360044709573-Swift-Package-Manager-fails-to-clone-from-private-Git-repositories
      - run: rm ~/.ssh/id_rsa
      - run: for ip in $(dig @8.8.8.8 github.com +short); do ssh-keyscan github.com,$ip; ssh-keyscan $ip; done 2>/dev/null >> ~/.ssh/known_hosts || true
      # END: Swift Package Manager Workaround
      - run:
          name: Fastlane
          command: bundle exec fastlane $FASTLANE_LANE
      - store_artifacts:
          path: output
      - store_test_results:
          path: output/scan

workflows:
  simplenote_ios:
    jobs:
      - Test
      - UI Tests
          name: UI Tests (iPhone 12)
  Installable Build:
    jobs:
      - Hold:
          type: approval
          filters:
            branches:
              ignore: /pull\/[0-9]+/
      - Installable Build:
          requires: [Hold]
          filters:
            branches:
              ignore: /pull\/[0-9]+/
  Release Build:
    jobs:
      - Release Build:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^\d+(\.\d+)*$/

