// NOTE:
// When something can be complex, it usually turns out being insanely complex.
// We need two different approaches to detect Xcode11:
//
// - ObjC:
//   Preprocessor Macro called IS_XCODE_11. Relies on a comparison between
//   SDK_VERSION_MAJOR and SDK_VERSION_IOS13.
//
// - Swift
//   SP_IOS_SDK is an Active Compilation Condition.
//
// Neither ObjC or Swift flags are visible in the opposite language.
//
// ObjC Approach
SDK_VERSION_IOS13 = 130000

// Swift Approach
_SP_IOS_130000 = IS_XCODE_11
_SP_IOS_120000 = IS_XCODE_10

SP_IOS_SDK = $(_SP_IOS_$(SDK_VERSION_MAJOR))
