<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default</key>
	<dict>
		<key>_name</key>
		<string>Default</string>
		<key>dark</key>
		<false/>
		<key>textColor</key>
		<string>000000</string>
		<key>noteBodyLineHeightPercentage</key>
		<string>0.20</string>
		<key>noteBodyLineHeightPercentage~ipad</key>
		<string>0.40</string>
		<key>noteSidePadding</key>
		<integer>20</integer>
		<key>noteSidePadding~regular</key>
		<integer>64</integer>
		<key>noteTopPadding</key>
		<string>8</string>
		<key>noteVerticalPadding</key>
		<integer>5</integer>
		<key>noteMaxWidth~ipad</key>
		<integer>640</integer>
		<key>noteListRowHeight</key>
		<integer>101</integer>
		<key>noteListRowCondensedHeight</key>
		<string>51</string>
		<key>noteListRowHeight~ipad</key>
		<string>117</string>
		<key>noteListRowCondensedHeight~ipad</key>
		<string>60</string>
		<key>switchOnTintColor</key>
		<string>@tintColor</string>
		<key>editorViewVerticalNoteSpacing</key>
		<integer>10</integer>
		<key>editorViewPreviewNoteAlpha</key>
		<real>0.5</real>
		<key>editorViewPreviewNoteScale</key>
		<real>0.5</real>
		<key>editorViewAboveKeyboardPadding</key>
		<integer>10</integer>
		<key>tintColor</key>
		<string>4895d9</string>
		<key>barTintColor</key>
		<string>@backgroundColor</string>
		<key>backgroundColor</key>
		<string>ffffff</string>
		<key>barButtonWidth</key>
		<string>44</string>
		<key>actionSheetShowViewSeparators</key>
		<true/>
		<key>actionSheetLabelPadding</key>
		<integer>10</integer>
		<key>actionSheetMaxTitleWidth</key>
		<integer>200</integer>
		<key>actionSheetMaxTitleHeight</key>
		<integer>200</integer>
		<key>actionSheetBoxPadding</key>
		<integer>20</integer>
		<key>actionSheetButtonFontColor</key>
		<string>@textColor</string>
		<key>actionSheetButtonBackgroundHighlightColor</key>
		<string>f1f1f1</string>
		<key>actionSheetPresentationTime</key>
		<real>0.5</real>
		<key>actionSheetDismissalTime</key>
		<real>0.2</real>
		<key>actionSheetDimmingViewOpacity</key>
		<real>0.1</real>
		<key>actionSheetMotionEffectMoveDistance</key>
		<integer>12</integer>
		<key>actionButtonHeight</key>
		<integer>100</integer>
		<key>actionButtonWidth</key>
		<string>76</string>
		<key>actionViewStatusFontColor</key>
		<string>aaaaaa</string>
		<key>actionViewToggleHeight</key>
		<integer>30</integer>
		<key>actionViewToggleWidth</key>
		<string>76</string>
		<key>actionViewButtonDisabledColor</key>
		<string>aaaaaa</string>
		<key>actionViewHorizontalPadding</key>
		<integer>20</integer>
		<key>actionViewButtonHeight</key>
		<integer>44</integer>
		<key>actionViewToggleViewBaseHeight</key>
		<string>50</string>
		<key>actionViewWidth~ipad</key>
		<integer>360</integer>
		<key>actionSheetButtonHeight</key>
		<integer>55</integer>
		<key>tagViewHeight</key>
		<integer>44</integer>
		<key>tagViewPlaceholderColor</key>
		<string>c4c4ca</string>
		<key>tagViewItemSideSpacing</key>
		<integer>15</integer>
		<key>tagViewItemPadding</key>
		<integer>10</integer>
		<key>tagViewFontColor</key>
		<string>@tintColor</string>
		<key>tagViewFontColorSelected</key>
		<string>@textColor</string>
		<key>tagViewAutoCompleteFontColor</key>
		<string>999999</string>
		<key>tagViewFontHighlightedColor</key>
		<string>444444</string>
		<key>tagViewDeletionBackgroundBorderColor</key>
		<string>cbdff3</string>
		<key>searchHighlightHorizontalPadding</key>
		<integer>3</integer>
		<key>searchHighlightVerticalPadding</key>
		<integer>0</integer>
		<key>searhHighlightCornerRadius</key>
		<integer>3</integer>
		<key>tableViewBackgroundColor</key>
		<string>@backgroundColor</string>
		<key>tableViewDetailTextLabelColor</key>
		<string>666666</string>
		<key>collaboratorCellHeight</key>
		<integer>44</integer>
		<key>collaboratorCellSidePadding</key>
		<integer>15</integer>
		<key>horizontalPickerTitleHeight</key>
		<real>16</real>
		<key>horizontalPickerVerticalPadding</key>
		<integer>5</integer>
		<key>horizontalPickerHorizontalPadding</key>
		<integer>10</integer>
	</dict>
	<key>Dark</key>
	<dict>
		<key>_name</key>
		<string>Dark</string>
		<key>dark</key>
		<true/>
		<key>textColor</key>
		<string>FFFFFF</string>
		<key>secondaryTextColor</key>
		<string>999999</string>
		<key>switchOnTintColor</key>
		<string>@textColor</string>
		<key>barTintColor</key>
		<string>@backgroundColor</string>
		<key>backgroundColor</key>
		<string>1e1e1e</string>
		<key>actionSheetButtonFontColor</key>
		<string>@tintColor</string>
		<key>actionViewStatusFontColor</key>
		<string>@secondaryTextColor</string>
		<key>actionViewButtonDisabledColor</key>
		<string>@secondaryTextColor</string>
		<key>tableViewBackgroundColor</key>
		<string>1e1e1e</string>
		<key>tableViewDetailTextLabelColor</key>
		<string>@secondaryTextColor</string>
		<key>tagViewPlaceholderColor</key>
		<string>@secondaryTextColor</string>
		<key>tagViewFontColor</key>
		<string>@tintColor</string>
		<key>tagViewFontColorSelected</key>
		<string>333333</string>
		<key>tagViewAutoCompleteFontColor</key>
		<string>@textColor</string>
		<key>tagViewFontHighlightedColor</key>
		<string>@secondaryTextColor</string>
		<key>tagViewDeletionBackgroundBorderColor</key>
		<string>2d4259</string>
		<key>collaboratorTextColor</key>
		<string>@secondaryTextColor</string>
	</dict>
</dict>
</plist>
