<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default</key>
	<dict>
		<key>_name</key>
		<string>Default</string>
		<key>dark</key>
		<false/>
		<key>textColor</key>
		<string>000000</string>
		<key>lightBlueColor</key>
		<string>eef3f8</string>
		<key>dividerColor</key>
		<string>dedede</string>
		<key>destructiveActionColor</key>
		<string>CA2622</string>
		<key>secondaryActionColor</key>
		<string>4895D9</string>
		<key>tertiaryActionColor</key>
		<string>899199</string>
		<key>lockTextColor</key>
		<string>ffffff</string>
		<key>noteHeadlineFontColor</key>
		<string>111111</string>
		<key>noteBodyLineHeightPercentage</key>
		<string>0.20</string>
		<key>noteBodyLineHeightPercentage~ipad</key>
		<string>0.40</string>
		<key>noteBodyFontPreviewColor</key>
		<string>808080</string>
		<key>noteSidePadding</key>
		<integer>15</integer>
		<key>noteSidePadding~regular</key>
		<integer>64</integer>
		<key>noteTopPadding</key>
		<string>8</string>
		<key>noteVerticalPadding</key>
		<integer>5</integer>
		<key>noteVerticalPadding~ipad</key>
		<string>8</string>
		<key>noteMaxWidth~ipad</key>
		<integer>640</integer>
		<key>noteListRowHeight</key>
		<integer>101</integer>
		<key>noteListRowCondensedHeight</key>
		<string>51</string>
		<key>noteListRowHeight~ipad</key>
		<string>117</string>
		<key>noteListRowCondensedHeight~ipad</key>
		<string>60</string>
		<key>switchOnTintColor</key>
		<string>@tintColor</string>
		<key>switchTintColor</key>
		<string>@dividerColor</string>
		<key>editorViewVerticalNoteSpacing</key>
		<integer>10</integer>
		<key>editorViewPreviewNoteAlpha</key>
		<real>0.5</real>
		<key>editorViewPreviewNoteScale</key>
		<real>0.5</real>
		<key>editorViewAboveKeyboardPadding</key>
		<integer>10</integer>
		<key>tintColor</key>
		<string>4895d9</string>
		<key>barTintColor</key>
		<string>@backgroundColor</string>
		<key>backImage</key>
		<string>back_chevron</string>
		<key>backgroundColor</key>
		<string>ffffff</string>
		<key>barButtonWidth</key>
		<string>44</string>
		<key>actionSheetShowViewSeparators</key>
		<true/>
		<key>actionSheetLabelPadding</key>
		<integer>10</integer>
		<key>actionSheetMaxTitleWidth</key>
		<integer>200</integer>
		<key>actionSheetMaxTitleHeight</key>
		<integer>200</integer>
		<key>actionSheetBoxPadding</key>
		<integer>20</integer>
		<key>actionSheetButtonFontColor</key>
		<string>@textColor</string>
		<key>actionSheetButtonBackgroundHighlightColor</key>
		<string>f1f1f1</string>
		<key>actionSheetPresentationTime</key>
		<real>0.5</real>
		<key>actionSheetDismissalTime</key>
		<real>0.2</real>
		<key>actionSheetDimmingViewOpacity</key>
		<real>0.1</real>
		<key>actionSheetMotionEffectMoveDistance</key>
		<integer>12</integer>
		<key>actionButtonHeight</key>
		<integer>100</integer>
		<key>actionButtonWidth</key>
		<string>76</string>
		<key>actionViewStatusFontColor</key>
		<string>aaaaaa</string>
		<key>actionViewToggleHeight</key>
		<integer>30</integer>
		<key>actionViewToggleWidth</key>
		<string>76</string>
		<key>actionViewButtonDisabledColor</key>
		<string>aaaaaa</string>
		<key>actionViewHorizontalPadding</key>
		<integer>20</integer>
		<key>actionViewButtonHeight</key>
		<integer>44</integer>
		<key>actionViewToggleViewBaseHeight</key>
		<string>50</string>
		<key>actionViewWidth~ipad</key>
		<integer>360</integer>
		<key>actionSheetButtonHeight</key>
		<integer>55</integer>
		<key>sharedImage</key>
		<string>icon_shared</string>
		<key>tagViewHeight</key>
		<integer>44</integer>
		<key>tagViewPlaceholderColor</key>
		<string>c4c4ca</string>
		<key>tagViewItemSideSpacing</key>
		<integer>15</integer>
		<key>tagViewItemPadding</key>
		<integer>10</integer>
		<key>tagViewFontColor</key>
		<string>@tintColor</string>
		<key>tagViewFontColorSelected</key>
		<string>@textColor</string>
		<key>tagViewAutoCompleteFontColor</key>
		<string>999999</string>
		<key>tagViewFontHighlightedColor</key>
		<string>444444</string>
		<key>tagViewDeletionBackgroundBorderColor</key>
		<string>cbdff3</string>
		<key>tagViewDeletionImage</key>
		<string>button_delete_small</string>
		<key>searchBarBackgroundImage</key>
		<string>searchbar_background</string>
		<key>searchBarImageColor</key>
		<string>b3b3b3</string>
		<key>searchHighlightHorizontalPadding</key>
		<integer>3</integer>
		<key>searchHighlightVerticalPadding</key>
		<integer>0</integer>
		<key>searchHighlightFontColor</key>
		<string>f9f9f9</string>
		<key>searhHighlightCornerRadius</key>
		<integer>3</integer>
		<key>containerViewSidePanelWidth</key>
		<integer>200</integer>
		<key>containerViewSidePanelWidthExpanded</key>
		<string>300</string>
		<key>containerViewPanThreshold</key>
		<integer>0</integer>
		<key>containerViewSpringAnimationDamping</key>
		<real>1.5</real>
		<key>containerViewSpringAnimationDuration</key>
		<real>0.4</real>
		<key>containerViewSpringAnimationInitialVelocity</key>
		<real>6</real>
		<key>tagListImageViewSide</key>
		<integer>15</integer>
		<key>tagListLeftPadding</key>
		<integer>15</integer>
		<key>tagListItemPadding</key>
		<integer>10</integer>
		<key>tagListFontTopPadding</key>
		<integer>1</integer>
		<key>tagListFontKerning</key>
		<real>0</real>
		<key>tableViewBackgroundColor</key>
		<string>@backgroundColor</string>
		<key>tableViewDetailTextLabelColor</key>
		<string>666666</string>
		<key>collaboratorCellHeight</key>
		<integer>44</integer>
		<key>collaboratorTextColor</key>
		<string>999999</string>
		<key>collaboratorCellSidePadding</key>
		<integer>15</integer>
		<key>navigationBarTitleFontColor</key>
		<string>333333</string>
		<key>horizontalPickerTitleFontColor</key>
		<string>999999</string>
		<key>horizontalPickerTitleHeight</key>
		<real>16</real>
		<key>horizontalPickerVerticalPadding</key>
		<integer>5</integer>
		<key>horizontalPickerHorizontalPadding</key>
		<integer>10</integer>
		<key>horizontalPickerBorderColor</key>
		<string>d9d9d9</string>
		<key>navigationBarBackgroundImage</key>
		<string>navigation_bar_background</string>
		<key>navigationBarBackgroundPromptImage</key>
		<string>navigation_bar_background_prompt</string>
		<key>navigationBarBackgroundLandscapePhone</key>
		<string>navigation_bar_background_landscape</string>
		<key>navigationBarBackgroundLandscapePhonePrompt</key>
		<string>navigation_bar_background_landscape_prompt</string>
		<key>navigationBarShadowImage</key>
		<string>navigation_bar_shadow</string>
		<key>emptyListViewFontColor</key>
		<string>d9d9d9</string>
		<key>lockBackgroundColor</key>
		<string>448AC9</string>
		<key>onePasswordImage</key>
		<string>button_onepassword</string>
		<key>visibilityOnImage</key>
		<string>button_visibility_on</string>
		<key>visibilityOffImage</key>
		<string>button_visibility_off</string>
		<key>simplenoteAlmostBlack</key>
		<string>12171a</string>
		<key>simplenoteLightNavy</key>
		<string>135d95</string>
		<key>simplenoteLightPink</key>
		<string>e3e0e2</string>
		<key>simplenoteMidBlue</key>
		<string>2170b0</string>
		<key>simplenotePalePurple</key>
		<string>b6b2b8</string>
		<key>simplenoteSlateGrey</key>
		<string>686b75</string>
		<key>simplenoteGunmetal</key>
		<string>525760</string>
		<key>simplenoteDeepSeaBlue</key>
		<string>006088</string>
		<key>simplenoteLipstick</key>
		<string>C42628</string>
	</dict>
	<key>Dark</key>
	<dict>
		<key>_name</key>
		<string>Dark</string>
		<key>dark</key>
		<true/>
		<key>lightBlueColor</key>
		<string>2e3b49</string>
		<key>textColor</key>
		<string>FFFFFF</string>
		<key>secondaryTextColor</key>
		<string>999999</string>
		<key>dividerColor</key>
		<string>343434</string>
		<key>tertiaryActionColor</key>
		<string>6F7780</string>
		<key>noteHeadlineFontColor</key>
		<string>DDDDDD</string>
		<key>noteBodyFontPreviewColor</key>
		<string>@secondaryTextColor</string>
		<key>switchTintColor</key>
		<string>@dividerColor</string>
		<key>switchOnTintColor</key>
		<string>@textColor</string>
		<key>barTintColor</key>
		<string>@backgroundColor</string>
		<key>backgroundColor</key>
		<string>1e1e1e</string>
		<key>actionSheetButtonFontColor</key>
		<string>@tintColor</string>
		<key>actionSheetButtonBackgroundHighlightColor</key>
		<string>@lightBlueColor</string>
		<key>actionViewStatusFontColor</key>
		<string>@secondaryTextColor</string>
		<key>actionViewButtonDisabledColor</key>
		<string>@secondaryTextColor</string>
		<key>tagViewPlaceholderColor</key>
		<string>@secondaryTextColor</string>
		<key>tagViewFontColor</key>
		<string>@tintColor</string>
		<key>tagViewFontColorSelected</key>
		<string>333333</string>
		<key>tagViewAutoCompleteFontColor</key>
		<string>@textColor</string>
		<key>tagViewFontHighlightedColor</key>
		<string>@secondaryTextColor</string>
		<key>tagViewDeletionBackgroundBorderColor</key>
		<string>2d4259</string>
		<key>tagViewDeletionImage</key>
		<string>button_delete_small_dark</string>
		<key>searchBarBackgroundImage</key>
		<string>searchbar_background_dark</string>
		<key>searchHighlightFontColor</key>
		<string>f9f9f9</string>
		<key>searchBarImageColor</key>
		<string>@textColor</string>
		<key>tableViewBackgroundColor</key>
		<string>1e1e1e</string>
		<key>tableViewDetailTextLabelColor</key>
		<string>@secondaryTextColor</string>
		<key>collaboratorTextColor</key>
		<string>@secondaryTextColor</string>
		<key>navigationBarTitleFontColor</key>
		<string>@textColor</string>
		<key>horizontalPickerTitleFontColor</key>
		<string>@secondaryTextColor</string>
		<key>horizontalPickerBorderColor</key>
		<string>@dividerColor</string>
		<key>navigationBarBackgroundImage</key>
		<string>navigation_bar_background_dark</string>
		<key>navigationBarBackgroundPromptImage</key>
		<string>navigation_bar_background_prompt_dark</string>
		<key>navigationBarBackgroundLandscapePhone</key>
		<string>navigation_bar_background_landscape_dark</string>
		<key>navigationBarBackgroundLandscapePhonePrompt</key>
		<string>navigation_bar_background_landscape_prompt_dark</string>
		<key>navigationBarShadowImage</key>
		<string>navigation_bar_shadow_dark</string>
		<key>emptyListViewFontColor</key>
		<string>@secondaryTextColor</string>
		<key>lockBackgroundColor</key>
		<string>@tableViewBackgroundColor</string>
	</dict>
</dict>
</plist>
